
/*
    Header section - 3 columns left, middle right.
*/
.app-header{

}

.app-header .app-left{

}

.app-header .app-middle{
  margin-top:72px;
}

.app-header .app-right{
  margin-top:75px;
}


/*
    Main Content section - 2 columns, left navigation and main content
*/
.app-main{

}

.app-main .app-left{

}

.selected{
  background-color: #007095;
}