<tr>
    <td colspan="4" style="width:100%;text-align:center">
        <div style="display:inline-block;float:left;font-weight: bolder;">
            <button style="cursor:pointer" ng-click="vm.newPage(vm.probsOffset - vm.probsN, vm.probsN)">
                &#8592;
            </button>
            <button style="cursor:pointer" ng-click="vm.newPage(vm.probsOffset + vm.probsN, vm.probsN)">
                &#8594;
            </button>
        </div>
        <span style="display:inline-block;">
                            {{vm.floor(vm.probsOffset / vm.probsN) + 1}} / {{vm.floor((vm.probsSize - 1) / vm.probsN) + 1}}
                        </span>
        <form style="display:inline-block;float:right;"
              ng-submit="vm.newPage(vm.numCheck(vm.num), vm.probsN)">
            <label>
                <span style="display:inline-block">Go to page:</span>
                <input type="number" name="vm.num" ng-model="vm.num">
            </label>
        </form>
    </td>
</tr>