<ul class="pagination-sm pagination" style="float:left;margin:0;">
    <li ng-repeat="buttonValue in ['&laquo;','&lsaquo;'].concat(rangeGen(maxPage)).concat(['&rsaquo;','&raquo;'])"
        style="float:left">
        <a href="#" ng-click="handleButton(buttonValue)" ng-show="checkPage(buttonValue, activePage, maxPage)">
            <span ng-hide="buttonValue == activePage">{{buttonValue}}</span>
            <span ng-show="buttonValue == activePage" style="font-weight:bold;">{{buttonValue}}</span>
        </a>
    </li>
</ul>