<ul class="pagination-sm pagination" style="margin:0;">
    <li ng-repeat="buttonValue in ['&lsaquo;', minPage,'..'].concat(rangeGen(maxPage)).concat(['...',maxPage,'&rsaquo;']) track by $index"
        style="float:left;">
        <a ng-click="handleButton(buttonValue)" ng-show="checkPage(buttonValue, activePage, maxPage, minPage)"
           ng-style="buttonValue == activePage? {'background-color':'#eaecec'}: {'background-color':'white'}">
            <span ng-hide="buttonValue == activePage">{{buttonValue}}</span>
            <span ng-show="buttonValue == activePage" style="font-weight:bold;">{{buttonValue}}</span>
        </a>
    </li>
</ul>