*.class
*.log
*.log.*

# zinc
cache

# mvn
target/
*.versionsBackup
*.releaseBackup

# emacs cruft
*.*~

# vim swap files
*.swp

# javascript artifacts
**/src/main/js/build/
**/js/node/
# **/js/node_modules/
**/resources/client/config/
**/resources/client/happy/happy-whoami.xml
**/resources/client/index.html
**/resources/client/src/

# Ignore Node & Bower regardless of context
###################
**/node_modules/
# Only shrine webclient plugin uses jspm so ignore those.
**/src/main/js/shrine-plugin/jspm_packages/
**/bower_components/
# **/build/
**/*.tmp
**/npm-debug.log

# Ignore Client Build
**/src/main/resources/client/

# idea
.idea/
*.iml
*.ipr
*.iws
# osx cruft
.DS_Store
.gitignore