<div>
    <error-handler error="vm.keyStoreError" error-name="keyStore"></error-handler>
    <div ng-show="!vm.keyStoreError"
         style="
         display: flex;
         justify-content: flex-start;
         align-content: flex-start;
         flex-flow: row wrap">

        <div ng-repeat="dashboard in vm.otherDashboards" style="min-width:25%;height:10%">
            <button ng-click="vm.switchDashboard(dashboard[1], dashboard[0])"
                    style="padding:5px 10px 5px 10px; font-size:x-large;%"
                    class="btn btn-primary btn-block">
                {{dashboard[0]}}
            </button>
        </div>
    </div>
</div>