<div>
    <error-handler error="vm.keyStoreError" error-name="'keyStore'"></error-handler>
    <error-handler error="vm.qepError" error-name="'qep'"></error-handler>
    <div ng-hide="vm.keyStoreError || vm.qepError">
        <table class="table table-striped">
            <thead>
            <tr>
                <td colspan="2">
                    Keystore File
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    This is the keystore SHRINE will use to sign and trust queries.
                </td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    File

                </td>
                <td>
                    {{vm.keystore.file}}
                </td>
            </tr>
            <tr>
                <td>
                    Password

                </td>
                <td>
                    {{vm.keystore.password}}
                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <td colspan="2">
                    Query Signing Certificate
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    This is the certificate that this SHRINE server will use for signing queries.
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="certField in vm.certificate track by $index">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" ng-show="vm.trustModelIsHub">
            <thead>
            <tr>
                <td colspan="2">
                    CA Certificate Information
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    This lists the certificates that this node recognizes as valid hub CA signatures.
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="certField in vm.caCertificate track by $index">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" ng-show="vm.trustModelIsHub && !vm.isHub">
            <thead>
            <tr>
                <td colspan="2">
                    Certificate Validation with Hub
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="certField in vm.downStreamValidation">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" ng-hide="vm.trustModelIsHub">
            <thead>
            <tr>
                <td colspan="3">
                    Certificate Validation
                </td>
            </tr>
            <tr>
                <td>
                    Site
                </td>
                <td>
                    Site contains local cert
                </td>
                <td>
                    This node contains site cert
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="certField in vm.peerCertValidation">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
                <td>
                    {{certField[2]}}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" ng-show="vm.isHub">
            <thead>
            <tr>
                <td colspan="2">
                    Certificate Validation
                </td>
            </tr>
            <tr>
                <td>
                    Site
                </td>
                <td>
                    Site contains correct CA Cert
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="certField in vm.hubCertValidation">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <td colspan="2">
                    Keystore Contents
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="certField in vm.keyStoreContents">
                <td>
                    {{certField[0]}}
                </td>
                <td>
                    {{certField[1]}}
                </td>
                <td>
                    {{certField[2]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>