<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">
                Keystore File
            </td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td >
                File

            </td>
            <td>
                {{vm.keystore.file}}
            </td>
        </tr>
        <tr>
            <td >
                Password

            </td>
            <td>
                {{vm.keystore.password}}
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">
                Query Signing Certificate
            </td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td >
                Alias

            </td>
            <td>
                {{vm.certificate.alias}}
            </td>
        </tr>
        <tr>
            <td >
                Owner

            </td>
            <td>
                {{vm.certificate.owner}}
            </td>
        </tr>
        <!--tr>
            <td >
                Issuer

            </td>
            <td>
                {{vm.certificate.issuer}}
            </td>
        </tr-->
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">
                CA Certificate Information
            </td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td >
                Alias

            </td>
            <td>
                {{vm.certificate.privateKeyAlias}}
            </td>
        </tr>
        </tbody>
    </table>
</div>