<div>
    <error-handler error="vm.problemsError" error-name="problems"></error-handler>
    <div ng-hide="vm.problemsError">
        <div style="display:flex;justify-content: space-between;vertical-align: text-top">
            <form ng-submit="vm.submitDate(vm.date)" style="width:18.5%;white-space:nowrap;">
                <button datepicker-popup="{{vm.format}}"
                        type="button"
                        class="btn"
                        ng-model="vm.date"
                        is-open='vm.isOpen'
                        ng-click="vm.open()"
                        close-text="Close"
                        max-date="vm.date"
                        style="background-color:white;color:#377BB5; padding:5px 10px 5px 10px">
                    {{vm.formatDate(vm.date)}}
                </button>
                <button type="submit" class="glyphicon glyphicon-search" ng-show="vm.checkDate()">
                </button>
                <button class="glyphicon glyphicon-search" ng-hide="vm.checkDate()"
                        style="opacity:.25;cursor:default" disabled></button>
            </form>
            <div my-pagination ng-show="vm.showP(vm.probsN)"></div>
            <form style="width:20%;font-size:large;white-space: nowrap" ng-show="vm.showP(5)">
                <label for="pageSize">Problems Per Page: </label>
                <select id="pageSize"
                        ng-options="x for x in vm.pageSizes | filter: vm.pageSizeCheck"
                        ng-model="vm.pageSize"
                        ng-change="vm.changePage()"></select>
            </form>
        </div>
        <table class="table table-striped">
            <colgroup>
                <col style="width:27%">
                <col>
                <col>
                <col>
            </colgroup>

            <thead>
            <tr>
                <td colspan="4">
                    <span style="float:left">Problems Total: {{vm.probsSize}}</span>
                    <span style="float:right" ng-show="vm.showP(vm.probsN)">
                    Pages Total: {{vm.probsSize <= 0? 1: vm.floor((vm.probsSize - 1) / vm.probsN) + 1}}
                </span>
                </td>
            </tr>
            <tr>
                <td data-width="25%">
                    Codec
                </td>
                <td data-width="15%">
                    Time Logged
                </td>
                <td data-width="25%">
                    Summary
                </td>
                <td data-width="25%">
                    Description
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat-start="problem in vm.problems track by $index"
                ng-click="problem.showDetails = !problem.showDetails"
                style="cursor: pointer;">
                <td><pre style="background: inherit;border: none;text-decoration: underline;"
                ><a href="{{vm.url + problem.codec}}" target="_blank" rel="noopener noreferrer" ng-click="$event.stopPropagation()"
                >{{vm.formatCodec(problem.codec)}}</a></pre>
                </td>
                <td>
                    {{problem.stampText}}
                </td>
                <td>
                    {{problem.summary}}
                </td>
                <td>
                    {{problem.description}}
                </td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="4" ng-show="problem.showDetails" ng-bind-html="vm.parseDetails(problem.detailsXml)">
                </td>
            </tr>
            </tbody>
        </table>
        <div style="display:flex;justify-content: center">
            <div style="width:18.5%"></div>
            <div my-pagination ng-show="vm.showP(vm.probsN)"></div>
            <div style="width:20%"></div>
        </div>
    </div>
</div>