<div>
    <table class="table table-striped">
        <colgroup>
            <col style="width:27%">
            <col>
            <col>
            <col>
        </colgroup>

        <thead>
        <tr>
            <td colspan="4">
                <span>Problems Total: {{vm.probsSize}}</span>
                <span ng-click="vm.newPage(vm.offset, 20)" style="text-decoration: underline;cursor:pointer;float:right;margin-right:3%">20</span>
                <span ng-click="vm.newPage(vm.offset, 10)" style="text-decoration: underline;cursor:pointer;float:right;margin-right:3%">10</span>
                <span ng-click="vm.newPage(vm.offset, 5)" style="text-decoration: underline;cursor:pointer;float:right;margin-right:3%">5</span>
                <span style="float:right;margin-right:3%">Problems Per Page:</span>
            </td>
        </tr>
        <tr my-pagination></tr>
        <tr>
            <td data-width="25%">
                Codec
            </td>
            <td>
                Time Logged
            </td>
            <td>
                Summary
            </td>
            <td>
                Description
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat-start="problem in vm.problems track by $index"
            ng-click="problem.showDetails = !problem.showDetails"
            style="cursor: pointer;">
            <td><pre style="background: inherit;border: none;text-decoration: underline;"
                    ><a href="{{vm.url}}{{problem.codec}}" target="_blank" ng-click="$event.stopPropagation()"
                    >{{vm.formatCodec(problem.codec)}}</a></pre>
            </td>
            <td>
                {{problem.stampText}}
            </td>
            <td>
                {{problem.summary}}
            </td>
            <td>
                {{problem.description}}
            </td>
        </tr>
        <tr ng-repeat-end>
            <td colspan="4" ng-show="problem.showDetails">
                <pre>
                    {{vm.stringify(problem.detailsXml)}}
                </pre>
            </td>
        </tr>
        <thead>
            <tr my-pagination></tr>
        </thead>
        </tbody>
    </table>
</div>