<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">
                Query Entry Point Modes
            </td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                SHRINE Data Steward
            </td>
            <td ng-if="vm.isStewardEnabled" style="color:green">
                Enabled
            </td>
            <td ng-if="!vm.isStewardEnabled" style="color:red">
                Disabled
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped" ng-if="vm.isDownstream">
        <thead>
        <tr>
            <td colspan="2">
                Network Hub
            </td>
        </tr>
        </thead>

        <tbody>
            <tr >
                <td>
                    URL
                </td>
                <td>
                    {{vm.broadcasterUrl}}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped" ng-if="vm.isStewardEnabled">
        <thead>
        <tr>
            <td colspan="2">
                SHRINE Data Steward
            </td>
        </tr>
        </thead>

        <tbody>
            <tr >
                <td>
                    Steward Base URL
                </td>
                <td>
                    {{vm.steward.stewardBaseUrl}}
                </td>
            </tr>
            <tr >
                <td>
                    QEP Username
                </td>
                <td>
                    {{vm.steward.qepUsername}}
                </td>
            </tr>
            <tr >
                <td>
                    QEP Password
                </td>
                <td>
                    {{vm.steward.password}}
                </td>
            </tr>
        </tbody>
    </table>
</div>