<div ng-cloak>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" 
            class="btn btn-default shrine-btn-default" 
            ng-click="menu.state = 'Pending'" 
            ng-class="menu.state === 'Pending'? 'shrine-btn-on' : 'shrine-btn-off'">
            PENDING
        </button>
        <button type="button" 
            class="btn btn-default shrine-btn-default" 
            ng-click="menu.state = 'Approved'" 
            ng-class="menu.state === 'Approved'? 'shrine-btn-on' : 'shrine-btn-off'">
            <i class="fa fa-check pull-left"></i>
            APPROVED
        </button>
        <button 
            type="button" class="btn btn-default shrine-btn-default" 
            ng-click="menu.state = 'Rejected'" 
            ng-class="menu.state === 'Rejected'? 'shrine-btn-on' : 'shrine-btn-off'">
            <i class="fa fa-remove pull-left"></i>
            REJECTED
        </button>
    </div>
</div>