<div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <label>Start Date: </label>
            </div>
            <div class="col-sm-3">
                <label>End Date: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text"
                           class="form-control"
                           datepicker-popup="{{format}}"
                           max-date="endDate"
                           ng-model="startDate"
                           is-open="startOpened"
                           ng-required="true"
                           close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button"
                                class="btn btn-default"
                                ng-click="openStart($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                </p>
            </div>

            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text"
                           class="form-control"
                           datepicker-popup="{{format}}"
                           ng-model="endDate"
                           min-date="startDate"
                           is-open="endOpened"
                           ng-required="true"
                           close-text="Close"/>
                        <span class="input-group-btn">
                             <button type="button"
                                     class="btn btn-default"
                                     ng-click="openEnd($event)">
                                 <i class="glyphicon glyphicon-calendar"></i>
                             </button>
                        </span>
                </p>
            </div>

            <div class="col-sm-3">
                <button class="shrine-btn-default shrine-btn-on" type="submit"
                        ng-disabled="!validateRange()"
                        ng-click="addDateRange()">
                    Apply Date Range
                </button>
            </div>
        </div>
    </div>

    <topic-status></topic-status>



    <query-counts></query-counts>


</div>
