.mailto {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #333;
  background: #f2f2f2;
  height: 100%
  p {
    font-size: 16px;
    line-height: 1.6em;
  }
  .button {
    border: 1px solid #6576a8;
    background: #6d85ad;
    border: 0;
    outline: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #9cb8d9;
    }
    &:active{
      background: #6576a8;
    }
  }
  .button--large {
    position: relative;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    &:active{
      top: 1px;
    }
  }
  .content{
    max-width: 350px;
    text-align: center;
  }
  .email {
    position: relative;
  }
}