<template>
    <require from="views/query-viewer/result-style.converter"></require>
    <require from="views/query-viewer/result-value.converter"></require>
    <require from="views/query-viewer/box-style.converter"></require>
    <require from="views/query-viewer/context-menu/context-menu"></require>
    <require from="views/query-viewer/loading-bar/loading-bar"></require>
    <require from="views/query-viewer/paginator/paginator"></require>
    <require from="views/query-viewer/date.converter"></require>
    <require from="views/query-viewer/query-status/query-status"></require>

    <span class="query-viewer">
    <loading-bar status.bind="'Loading...'" if.bind="showLoader"></loading-bar>
    <div style="width: 100%; text-align: center;">
        <paginator pages.bind="pages" paginator-click.delegate="updatePage($event)" if.bind="pages.length > 1"></paginator>
    </div>

    <div class="flex-table">
        <div class="flex-table-row node-header">
            <div class="flex-table-item"></div>
            <div class="flex-table-item"></div>
            <div class="flex-table-item"></div>
            <div class="flex-table-item"></div>
            <div repeat.for="node of page.nodes" class="flex-table-item">
                ${node}
            </div>
        </div>
    </div>  

    <div class="flex-table query-viewer ${vertStyle}" scroll.trigger="onScroll($event)">
        <div>
            <!-- @todo: create running query component -->
            <div class="flex-table-row" if.bind="runningQueryName">
                <div class="flex-table-item"></div>
                <div class="flex-table-item">${runningQueryName}</div>
                <div class="flex-table-item"></div>
                <div class="flex-table-item"></div>
                <div class="flex-table-item" repeat.for="node of page.nodes" style="color: #00FF00">
                    RUNNING
                </div>
            </div>

            <div repeat.for="result of page.results" class="flex-table-row">
                <div class="flex-table-item">
                    <i if.bind="result.flagged"  class="fa fa-flag"></i>
                    <i if.bind="!result.flagged" class="fa fa-flag-o"></i>
                </div>
                <div class="flex-table-item" click.delegate="context = getContext($event, result)">
                    <div class="ellipses">
                        ${result.name}
                    </div>
                </div>
                <div class="flex-table-item" click.delegate="context = getContext($event, result)">
                    ${result.date | date}
                </div>
                <div class="flex-table-item">
                    <query-status status.bind="result.status"></query-status>
                </div>
                <div repeat.for="nodeResult of result.nodeResults" class="flex-table-item" click.delegate="context = getContext($event, result)">
                    <a if.bind="nodeResult.status === 'ERROR'" style="text-decoration: underline; color:red" click.delegate="publishError($event, nodeResult)">
                        ${nodeResult.status}
                    </a> 
                    ${nodeResult}
                </div>
            </div>
            <div class="flex-table-row" if.bind="loadingInfiniteScroll">
                <div style="width: 100%; text-align: center; font-size: 1.5rem; background:rgba(217, 236, 240, .05); text-align:center; color: rgba(0, 0, 0, .20);">
                    <i class="fa fa-spinner fa-spin" style="color: inherit;"></i> Loading...
                </div>
            </div>

        </div>
    </div>

    <!-- context menu -->
    <context-menu context.bind="context"></context-menu>
</span>
</template>