<template>
    <div class="box-wrapper">
    <div class="box">
        <section>
            <!--for demo wrap-->
            <!--h1>Fixed Table header</h1-->
            <div>
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Node 1</th>
                            <th>Node 2</th>
                            <th>Node 3</th>
                            <th>Node 4</th>
                            <th>Node 5</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <th>
                                <div class="hideextra">Query 1</div>
                            </th>
                            <td>46 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 2</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 3</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 4</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 5</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 6</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 7</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 8</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 9</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>


    <div class="box">
        <section>
            <!--for demo wrap-->
            <!--h1>Fixed Table header</h1-->
            <div>
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Node 6</th>
                            <th>Node 7</th>
                            <th>Node 8</th>
                            <th>Node 9</th>
                            <th>Node 10</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <th>
                                <div class="hideextra">Query 1</div>
                            </th>
                            <td>46 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 2</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 3</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 4</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 5</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 6</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 7</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 8</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="hideextra">Query 9</div>
                            </th>
                            <td>45 +- 10 patients</td>
                            <td>15 +- 10 patients</td>
                            <td>4500 +- 10 patients</td>
                            <td>17 +- 10 patients</td>
                            <td>33 +- 10 patients</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
        </div>
</template>