<div>   
    <table class="table table-striped thin-col">
        <thead>
        <tr>
            <td class="thin-col">
                <a ng-click="history.sort('stewardId')">
                    ID
                    <li ng-show="history.sortData.column === 'stewardId'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
             <td>
                <a ng-click="history.sort('topicName')">
                    Query Topic
                    <li ng-show="history.sortData.column === 'topicName'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
            <td>
                <a ng-click="history.sort('researcherId')">
                    Username
                    <li ng-show="history.sortData.column === 'researcherId'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
            <td>
                <a ng-click="history.sort('name')">
                    Query Text
                    <li ng-show="history.sortData.column === 'name'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
            <td>
                <a ng-click="history.sort('stewardResponse')">
                    Status
                   <li ng-show="history.sortData.column === 'stewardResponse'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
            <td>
                <a ng-click="history.sort('date')">
                    Date
                    <li ng-show="history.sortData.column === 'date'" class="fa {{history.sortData.arrowClass}}"></li>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="query in history.queries">
                <td class="thin-col">{{query.stewardId}}</td>
                <td class="big-data">{{query.topic.name}}</td>
                <td>{{query.user.userName}}</td>

                <td class="big-data">
                    <a href ng-click="history.open(query)">{{query.name}}</a>
                </td>
                <td>{{query.stewardResponse}}</td>
                <td>{{history.dateFormatter(query.date)}}</td>
            </tr>
        </tbody>

    </table>
    <!--
    https://angular-ui.github.io/bootstrap/
    http://getbootstrap.com/components/
    -->
    <div class="form-group text-center" ng-show="length > limit">
        <pagination boundary-links="true"
                    ng-change="onPageSelected()"
                    total-items="length"
                    ng-model="pageIndex"
                    class="pagination-sm"
                    items-per-page="limit"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;">

        </pagination>

    </div>
</div>