<div>
	<span class="expandable {{svc.getStyleByFrequency(value.queryCount, 200)}}" ng-show="value.hasChildren()" ng-click="show=!show">
        {{(show)? '-' : '+'}}
      </span>
	<a ng-init="show=false " ng-click="show=!show;" class="{{svc.getStyleByFrequency(value.queryCount, digest.totalQueries)}} tooltip-toggle" aria-label="used {{value.queryCount}} times">

             {{value.key}} - {{svc.getPct(value.queryCount, digest.totalQueries)}}%  

	</a>

	<ul ng-if="value.hasChildren() && show ">
		<li ng-repeat="(key, value) in value.children" query-term>
		</li>
	</ul>
</div>