<div class="topic-dropdown" ng-init="dropdown.open = false" ng-click="dropdown.open = !dropdown.open" ng-value="myVar">
  <div class="title">
    Filter By Topic:
    <div>
      <button class="tdd-btn">
        <span ng-onload="dropdown.onLoad(event)" ng-init="dropdown.reset()" style="overflow: hidden;">{{dropdown.selected.title}}</span>&nbsp;&nbsp;<span class="dropdown-arrow"></span>
      </button>
      <ul class="tdd-list" ng-class="{'tdd-list-open': !!dropdown.open}">
        <li ng-class="{'active': dropdown.selected.id === undefined}" ng-click="dropdown.selected={title: 'All'}; topicSelected()">
          <a href="">All</a>
        </li>
        <li ng-repeat="topic in dropdown.topics" ng-class="{'active': dropdown.selected.id === topic.id}" ng-click="dropdown.selected={title: topic.name, id: topic.id}; topicSelected({topicId: topic.id})">
          <a href="">{{topic.name}}</a>
        </li>
      </ul>
    </div>
