/*
    Header section - 3 columns left, middle right.
*/
.app-header .app-middle {
  margin-top: 72px;
}

.app-middle span{
    font-size: 1.40rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.app-header .app-right {
  margin-top: 75px;
}

.app-header .app-title{
    bottom:30px;
    right:50px
}

.login-form {
    max-width:600px;
}

/*
    Main Content section - 2 columns, left navigation and main content
*/

.selected{
  background-color: #007095;
    /*box-shadow: 0px 0px 1px 3px rgba(125,185,245,1);
    border: 1px solid rgba(255, 255, 255, 1);*/
}

.selected:focus{
    background-color: #007095;
    box-shadow: none;
}

.role1-bg{
    background-color: #c0c0c0;
}

.hms-pagination {
   margin-left:150px
}

.sortable {
    cursor: pointer;
    border:1px solid rgba(242, 242, 242, 1);
    border-bottom: 1px solid rgba(0,0,0, .10);
}

.sortable:hover{
    border: 1px solid rgba(0, 140, 255, .25);
    background-color: rgba(0, 140, 255, .02);
}

.sorted{
    cursor: pointer;
    border: 1px solid rgba(0, 140, 255, .25);
    background-color: rgba(0, 140, 255, .02);
}

.sort-arrow{
    width: 0;
    height: 0;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    margin-left: 8px;
    margin-top: 3.5px;
}

.sortable-down {
    border-bottom: 3.5px solid rgba(0, 140, 255, .25);
}

.sortable-up {
    border-top: 3.5px solid rgba(0, 140, 255, .25);
}

.sorted-up {
    border-bottom: 3.5px solid rgba(0, 140, 255, .75);
}

.sorted-down {
    border-top: 3.5px solid rgba(0, 140, 255, .75);
}

.nav-option{
    cursor: pointer;
    border: 1px solid rgba(242, 242, 242, 1);
    background-color: rgba(242, 242, 242, 1);
}

.nav-option:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 140, 255, .25);
    background-color: rgba(0, 140, 255, .02);
}

.nav-option-selected {
    cursor: pointer;
    border: 1px solid rgba(0, 140, 255, .25);
    background-color: rgba(0, 140, 255, .02);
}

fieldset{
    border: none;
}

span.error{
    margin-top: -4%;
}

.hms-modal-button {
    margin: 0;
}

.ng-cloak{
    display: none;
}
fieldset legend, legend{
    background: none;
    font-weight: bold;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
}


.big-data{
    max-width: 130px;
    overflow:auto;
}

.small-data{
    min-width: 100px;
}