<div>
	<div class="col-sm-12 shrine-modal" style="margin-bottom: 50px;">
		<fieldset>
			<div class="col-sm-4">
				<label>
                        Start Date:&nbsp;&nbsp;
                </label>
				<p class="input-group" style="display: block">
					<input type="text" class="form-control shrine-calendar-input" uib-datepicker-popup="{{stats.format}}" ng-model="stats.startDate"
						is-open="stats.startOpened" ng-required="true" close-text="Close" max-date="stats.endDate" />
					<span class="input-group-btn">
                        <button type="button" class="btn btn-default shrine-button" ng-click="stats.openStart()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
				</p>
			</div>

			<div class="col-sm-4">
				<label>
                    End Date:&nbsp;&nbsp;
                    </label>
				<p class="input-group" style="display: block">

					<input type="text" class="form-control shrine-calendar-input" uib-datepicker-popup="{{stats.format}}" ng-model="stats.endDate"
						is-open="stats.endOpened" ng-required="true" close-text="Close" min-date="stats.startDate" />
					<span class="input-group-btn">
                        <button type="button" class="btn btn-default shrine-button" ng-click="stats.openEnd()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
				</p>
			</div>
			<div class="col-sm-4">
				<br/>
				<button type="submit" class="shrine-button shrine-submit" ng-disabled="!stats.validateRange()" ng-click="stats.addDateRange()">
                    <span>APPLY RANGE</span>
                    <i class="fa fa-chevron-right fa-2x"></i>
                </button>
			</div>
		</fieldset>

		<statistics-graph graph-data="stats.graphData" graph-click="stats.viewDigest(data)">
		</statistics-graph>
		<br/><br/>
		<term-digest ontology="stats.ontology">
    	</term-digest>
	</div>

	





	<!--table class=" table table-striped ">
				<thead>
					<tr>
						<td colspan="2 " style="text-align: center ">
							Query Topics By Status
						</td>
					</tr>
					<tr>
						<td>
							Status
						</td>
						<td>
							Query Topic Count
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="state in stats.topicsPerState.states ">
						<td>{{stats.parseStateTitle(state)}}</td>
						<td>{{stats.parseStateCount(state)}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total: </td>
						<td>{{stats.topicsPerState.total}}</td>
					</tr>
				</tfoot>
			</table>
			<br/>
			<br/>
			<table class="table table-striped ">
				<thead>
					<tr>
						<td colspan="2 " style="text-align: center ">
							Query Counts By User
						</td>
					</tr>
					<tr>
						<td>User</td>
						<td>Query Count</td>
					</tr>

				</thead>
				<tbody>
					<tr ng-repeat="user in stats.queriesPerUser.users ">
						<td>{{user._1.userName}}</td>
						<td>{{user._2}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total: </td>
						<td>{{stats.queriesPerUser.total}}</td>
					</tr>
				</tfoot>
			</table -->

    
	<!--div class="stats-ontology-container stats-ontology-minimized">
		
		<script type="text/ng-template " id="categoryNode ">
			<span class="expandable {{c.getStyleByFrequency(value.queryCount)}}" ng-show="value.hasChildren()" ng-click="show=!show">
				{{(show)? '-' : '+'}}
			</span>
			<a 
				ng-init="show=false " 
				ng-click="show=!show;"
				
				class="{{c.getStyleByFrequency(value.queryCount)}}">
				<span

				
				class="tooltip-toggle"
				
				aria-label="{{value.queryCount}} queries">  
				{{value.key}} - {{c.getPct(value.queryCount)}}%   

			</span>


			

			</a>
		
			<ul ng-if="value.hasChildren() && show ">
			<li ng-repeat="(key, value) in value.children" ng-include=" 'categoryNode' ">
			</li>
			</ul>
    	</script>
		<div class="tree ">
			<ul>
				<li>
					<span class="expandable dark-red" ng-click="show=!show">{{(show)? '-' : '+'}}</span>
					<a ng-init="show=false" ng-click="show=!show " class="dark-red">{{c.ontology.key + ' ( - ' + c.queryCount + ' queries)'}}</a>
					<ul ng-if="show ">
						<li ng-repeat="(key, value) in c.ontology.children" ng-include=" 'categoryNode' "></li>
					</ul>
				</li>
			</ul>
		</div>
		<span ng-include=" 'ngDropdown' " style="z-index: 1000">
		</span>
	</div-->

</div>