

/* -- stats-graph styles -- */
.stats-minimized{
  cursor: pointer;
  opacity: .7;
    &:hover{
        border: 1px solid white;
        opacity: 1;
    }
}

.stats-graph-minimized{
    @extend .stats-minimized;
   transform: translate(60%, -20%) scale(.10, .25);
}

.stats-ontology-minimized{
  @extend .stats-minimized;
  transform: translate(60%, 0%) scale(.10, .25);
}


.stats-stage-base{
  padding-bottom: 0px;
  padding-top: 0px;
  color: white;
  margin: 0 auto;
  width: 100%;
}


.stats-graph-container {
    @extend .stats-stage-base;
    border-bottom: none;
    overflow: hidden;
    padding-top: .6em;
}

.stats-ontology-container{
   @extend .stats-stage-base;
   overflow: auto;
   height: 100vh;
}

.stats-graph-container  .bar-bg{
  background-color: rgba(255, 255, 255, 1);
  height: 30px;
  left: 13rem;
  top: -24px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  .user{
        position: absolute;     
        z-index: 4; 
        left:.2em;
    };
    .bar{
        opacity: .8;
        z-index: 1;
        background-color: rgba(18, 92, 138, 1);
        border: 1px solid #1c8ed6;
        height: 30px;
        transition: 0.7s;
        width: 100%;
        display: block;
        animation: stats-bar-before 1 1.8s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding-right: 8px;
        text-align: right;
        &:hover{
            background:rgba(0, 0, 0, .5);
            cursor: pointer;
        }
    }

}

@keyframes stats-bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}