<div>
        <div class="col-lg-12">
            <div>
                <div>


                    <div ng-switch on="{{userRole == roles.ROLE1}}" ng-cloak>
                        <!-- researcher -->
                        <div ng-switch-when="true">
                            <button type="button"
                                    class="btn shrine-btn-default shrine-btn-on"
                                    ng-click="createTopic()">
                                New
                            </button>
                        </div>
                        <!-- steward -->
                        <div ng-cloak ng-switch-when="false">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button"
                                        class="btn btn-default shrine-btn-default"
                                        ng-click="setStateAndRefresh(states.STATE1)"
                                        ng-class="state === states.STATE1 ? 'shrine-btn-on' : 'shrine-btn-off'">
                                    {{states.STATE1}}
                                </button>
                                <button type="button"
                                        class="btn btn-default shrine-btn-default"
                                        ng-click="setStateAndRefresh(states.STATE2)"
                                        ng-class="state === states.STATE2 ? 'shrine-btn-on' : 'shrine-btn-off'">
                                    {{states.STATE2}}
                                </button>
                                <button type="button"
                                        class="btn btn-default shrine-btn-default"
                                        ng-click="setStateAndRefresh(states.STATE3)"
                                        ng-class="state === states.STATE3 ? 'shrine-btn-on' : 'shrine-btn-off'">
                                    {{states.STATE3}}
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.panel-heading -->
                <div>
                    <p>
                        <topic-table sorted-by="changeDate" sort="sort">
                        </topic-table>
                    </p>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
    </div>
</div>
