div.shrinePluginContent{
  background: #FFFFFF none repeat scroll 0%;
  border: 1px solid #667788;
  height: 144px;
  width: auto;
  overflow: hidden;
  padding: 1px 5px;
  overflow: auto;
}

#crcHistoryData .ygtvloading,
#crcHistoryData .ygtvtm,
#crcHistoryData .ygtvtphh,
#crcHistoryData .ygtvtph,
#crcHistoryData .ygtvlp,
#crcHistoryData .ygtvlph,
#crcHistoryData .ygtvlphh,
#crcHistoryData .ygtvtph,
#crcHistoryData .ygtvtp {
  display: none;
}

/*background-color: #c0e0e0;*/
