<div>
    <table class="table table-striped thin-col">

        <thead>
        <tr>
            <td class="thin-col">
                <a ng-click="sort.currentColumn = 'stewardId'; sort.descending = !sort.descending; refreshHistory()">
                    ID
                    <i ng-show="sort.currentColumn == 'stewardId' && sort.descending" class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'stewardId' && !sort.descending" class="fa fa-caret-up"></i>
                </a>
            </td>
            <td>
                <a ng-click="sort.currentColumn = 'topicName'; sort.descending = !sort.descending; refreshHistory()">
                    Query Topic
                    <i ng-show="sort.currentColumn == 'topicName' && sort.descending" class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'topicName' && !sort.descending" class="fa fa-caret-up"></i>
                </a>
            </td>
            <td>
                <a ng-click="sort.currentColumn = 'researcherId'; sort.descending = !sort.descending; refreshHistory()">
                    Username
                    <i ng-show="sort.currentColumn == 'researcherId' && sort.descending" class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'researcherId' && !sort.descending" class="fa fa-caret-up"></i>
                </a>
            </td>
            <td>
                <a ng-click="sort.currentColumn = 'name'; sort.descending = !sort.descending; refreshHistory()">
                    Query Text
                    <i ng-show="sort.currentColumn == 'name' && sort.descending" class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'name' && !sort.descending" class="fa fa-caret-up"></i>
                </a>
            </td>
            <td>
                <a ng-click="sort.currentColumn = 'stewardResponse'; sort.descending = !sort.descending; refreshHistory()">
                    Status
                    <i ng-show="sort.currentColumn == 'stewardResponse' && sort.descending" class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'stewardResponse' && !sort.descending" class="fa fa-caret-up"></i>
                </a>
            </td>
            <td>
                <a ng-click="sort.currentColumn = 'date'; sort.descending= !sort.descending; refreshHistory()">
                    Date
                    <i ng-show="sort.currentColumn == 'date' && sort.descending"
                       class="fa fa-caret-down"></i>
                    <i ng-show="sort.currentColumn == 'date' && !sort.descending"
                       class="fa fa-caret-up"></i>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="query in queries">
                <td class="thin-col">{{query.stewardId}}</td>
                <td class="big-data">{{query.topic.name}}</td>
                <td>{{query.user.userName}}</td>

                <td class="big-data">
                    <a href ng-click="showQuery(query)">{{query.name}}</a>
                </td>
                <td>{{query.stewardResponse}}</td>
                <td>{{formatDate(query.date)}}</td>
            </tr>
        </tbody>

    </table>
    <!--
    https://angular-ui.github.io/bootstrap/
    http://getbootstrap.com/components/
    -->
    <div class="form-group text-center" ng-show="length > limit">
        <pagination boundary-links="true"
                    ng-change="onPageSelected()"
                    total-items="length"
                    ng-model="pageIndex"
                    class="pagination-sm"
                    items-per-page="limit"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;">

        </pagination>

    </div>
</div>