body {
	font-family:arial,helvetica;
	font-size:12px;
	line-height:16px;
	padding-right:5px;
	padding-left:5px;
	background-color:#4E5B82;
}


p, li, blockquote {
        font-size:12px;
	line-height:16px;
}
h1 {
	color: #D9ECF0;
	font-size:18px;
	font-weight:bold;
	padding:0;
	margin:0;
}
h2 {
	color: #D9ECF0;
	font-size:15px;
	font-weight:bold;
	padding:0;
	margin:0;
}
h3, th {
	color: #4E5B82;
	font-size:13px;
	font-weight:bold;
	padding:1;
	margin:15px 0 10px 0;
}
a {
	color: #4E5B82;

