.tooltip-toggle {
  cursor: pointer;
  position: relative; }
  .tooltip-toggle svg {
    height: 18px;
    width: 18px; }
  .tooltip-toggle::before {
    border: 1px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -5rem;
    left: -3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 1rem;
    text-transform: none;
    -webkit-transition: all 2s;
    transition: all 2s;
    width: 160px; }
  .tooltip-toggle::after {
    position: absolute;
    top: -.8rem;
    left: 5rem;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0; }

.tooltip-toggle::before, .tooltip-toggle::after {
  color: #efefef;
  font-family: monospace;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center; }

.tooltip-toggle:focus::before, .tooltip-toggle:focus::after, .tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
  opacity: 1;
  -webkit-transition: all 2s;
  transition: all 2s; }
