
<form name="form" role="form">
    <div class="col-sm-12">
        <br/>
        <div class="form-group">
            <label>Topic Id:</label> {{topic.id}}
        </div>
        <div class="form-group">
            <label>Date Created:</label> {{formatDate(topic.createDate)}}
        </div>
        <div class="form-group">
            <label>Last Updated:</label> {{formatDate(topic.changeDate)}}
        </div>
        <div class="form-group">
            <label>Status:</label> {{data.topicState}}
        </div>
        <label class="pull-right">
            *<small>Required Field</small>
        </label>
        <div class="form-group">
            <label>Topic Name*</label>
            <input type="text"  ng-model="topicName" name="topicname"
                   id="topicname" class="form-control"
                   maxlength="254"
                   required
                   novalidate>
        </div>
        <div class="form-group">
            <label>Please Describe Your Query's Intent*</label>
                        <textarea
                                  ng-model="topicDescription" name="topicdescription"
                                  id="topicdescription" class="form-control" required
                                  novalidate></textarea>


        </div>
        <div class="form-group text-center">
            <button type="submit"
                    class="pull-right shrine-button shrine-submit"
                    ng-disabled="!form.$valid"
                    ng-click="update(topic.id, topicName, topicDescription)">
                <span>UPDATE</span>
                <i class="fa fa-chevron-right fa-2x"></i>
            </button>
        </div>
    </div>
</form>






