svg.query-status {
  height: 25px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 25px;
}

.query-status > .countdown__background {
    transition: all .5s ease;
  fill: none;
  stroke: #c0c0c0;
  stroke-width: 8;
}

.flex-table.query-viewer .flex-table-item:hover .query-status > .countdown__background{
    stroke: #000;
}

.query-status > .error__progress {
  fill: none;
  stroke: #ff0000;
  stroke-dasharray: 100 100;
  stroke-linecap: butt;
  stroke-width: 6;
 
}

.query-status > .ready__progress {
  fill: none;
  stroke: #00ff00;
  stroke-dasharray: 100 100 ;
  stroke-linecap: butt;
  stroke-width: 6;
}
