.tooltip{
  font-family: sans-serif;
}

.tooltip [data-line1] {
  position: relative; 
}

.tooltip [data-line1]::before,
.tooltip [data-line1]::after {
  text-transform: none; 
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -.5em);
  display: block;
}
.tooltip [data-line1]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 10001; 
    bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
.tooltip [data-line1]::after {
  bottom: calc(100% + 5px);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 42em;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 10000;
  display: block;
	white-space: pre;
	content: attr(data-line1);
}

/* display second line if provided */
.tooltip [data-line1][data-line2]::after{
  content: attr(data-line1) "\A" attr(data-line2);
}



/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
.tooltip [data-line1]:hover::before,
.tooltip [data-line2]:hover::after{
  animation: tooltips-vert 300ms ease-out forwards;
}

/* UNRELATED to tooltips */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: #ededed;
}
