<template>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <div class="paginator">
        <ol class="btn-group">
            <li class="btn-group__item"
            click.delegate="pageIndex = index - 1">
                <i class="i-chevron-left"></i>
            </li>
            <li repeat.for="page of pages" class="btn-group__item" click.delegate="pageIndex = $index">
                <button class="btn btn--basic ${index === $index? 'current' : ''}">${$index + 1}</button>
            </li>
            <li class="btn-group__item"
                click.delegate="pageIndex = index + 1">
                <i class="i-chevron-right"></i>
            </li>
        </ol>
    </div>
</template>