
    <div class="row">
        <div class="col-sm-4">
            <p>
            The role of the Data Steward is to ensure scientific and
            institutional integrity when accessing clinical data from SHRINE
            and its participating organizations.  The Data Steward will:
            </p>

            <ul>
                <li>
                    Review and either approve or deny your Query Topic request
                </li>
                <li>
                    Audit your individual queris for comliance with the states Query Topic
                </li>
            </ul>

            <p>
            Each project will require a separate Query Topic once your request has
            been approved by tghe Data Steward.  you can start querying SHRINE The
            review cyle for straightforward query topics should be complete in two
            working days.
            </p>

        </div>
        <div class="col-sm-4">
            <div class="shrine-panel">
                <div class="panel-body">
                    <form name="form" ng-submit="login()" role="form">
                        <fieldset>
                            <div class="form-group">
                                Username*

                                <input class="form-control" type="text" name="username"
                                       id="username" class="form-control"
                                       ng-model="username" autofocus required novalidate/>
                            </div>
                            <div class="form-group">
                                Password*
                                <input class="form-control" type="password"
                                       name="password" id="password" ng-model="password"
                                       required novalidate/>
                                <label ng-show="form.username.$error.required || form.password.$error.required">*<small>Required Field</small></label>
                            </div>
                            <div class="form-group has-error" style="text-align: center">
                                <label ng-show="loginFail === true"
                                       class="control-label" for="inputError">Invalid Login</label>                            </div>
                            <div>
                                <span class="pull-left">Need Help?</span>
                                <button type="submit"
                                        class="btn btn-primary pull-right"
                                        ng-disabled="!form.$valid">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
