<div>
	<span class="expandable {{svc.getStyleByFrequency(value.queryCount, 200)}}" ng-show="value.hasChildren()" ng-click="show=!show">
        {{(show)? '-' : '+'}}
      </span>
	<a ng-init="show=false " ng-click="show=!show;" class="{{svc.getStyleByFrequency(value.queryCount, 200)}}">
		<span class="tooltip-toggle" aria-label="{{value.queryCount}} queries">  
             {{value.key}} - {{svc.getPct(value.queryCount, 200)}}%   

        </span>
	</a>

	<ul ng-if="value.hasChildren() && show ">
		<li ng-repeat="(key, value) in value.children" query-term>
		</li>
	</ul>
</div>