/** {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Source Sans Pro', serif;
  color: #333;
  background: #f2f2f2;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}
.button {
  border: 1px solid #6576a8;
  background: #6d85ad;
  border: 0;
  outline: 0;
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background: #9cb8d9;
}
.button:active {
  background: #6576a8;
}
.button--large {
  position: relative;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
}
.button--large:active {
  top: 1px;
}
.content {
  text-align: center;
  max-width: 350px;
}
.email {
  position: relative;
}
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  overflow: hidden;
  /*background: -webkit-linear-gradient(left, #6B73A2, #9BB5DA);
  background: linear-gradient(to bottom, #6B73A2, #9BB5DA);*/
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto', sans-serif; }

html,
body,
.box-wrapper {
  width: 100%;
  height: 100%;
  margin: 0; }

.box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.box {
  margin-top: 1%;
  width: 100%;
  transition: all .2s ease; }

.box.blue {
  background: #1881CB; }

.box.red {
  background: #AD3137; }

.box.black {
  background: #424242; }

.circle-pagination {
  position: absolute;
  z-index: 1000;
  top: 1rem;
  list-style-type: none;
  margin: 0; }

.circle-pagination li {
  border-radius: 50%;
  border: 2px solid #626C92;
  width: 12px;
  height: 12px;
  padding: 4px;
  margin: 6px;
  cursor: pointer;
  float: left;
  transition: all .2s ease; }

.circle-pagination li.active,
.circle-pagination li:hover {
  background: #626C92;
  width: 14px;
  height: 14px; }

.circle-pagination li div {
  font-size: .7rem;
  width: 24px;
  position: relative;
  left: -3px;
  top: -22px;
  color: #626C92;
  text-transform: capitalize; }

h1 {
  font-size: 30px;
  color: #626C92;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px; }

table {
  width: 100%;
  table-layout: fixed; }

.tbl-header {
  background-color: rgba(98, 108, 146, 0.3); }

.tbl-header div.tbl-header {
  max-width: 5rem; }

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-height: 150px) {
  .tbl-content {
    height: 80% !important; } }

.tbl-content {
  height: 450px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(98, 108, 146, 0.3); }

th {
  padding: 15px 5px;
  text-align: center;
  font-weight: 500;
  font-size: .75rem;
  color: #626C92;
  text-transform: uppercase; }

td {
  transition: all .5s ease;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(98, 108, 146, 0.1); }

section {
  margin: 50 0 6 0; }

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(98, 108, 146, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #626c92; }

.hideextra {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
