<!doctype html>
<html ng-app="shrine.steward">
    <head>
    <meta charset="utf-8">
    <title>Shrine Data Steward</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body class="main-app" >

 
    <div ng-controller="StewardController as steward">
        
        <nav class="navbar navbar-default navbar-static-top shrine-navbar" 
        role="navigation" style="margin-bottom: 0">

            <div class="shrine-brand">
                <strong>SHRINE</strong> DATA STEWARD
                <strong style='color:red' ng-if="steward.isDevMode">(Dev Mode)</strong>
            </div>

            <div class="pull-right shrine-institution-logo"></div>
            
            <ul class="nav navbar-top-links navbar-right" 
                ng-show="isUserLoggedIn()"
                style="margin-top: 8px"
                ng-cloak>
                <li>
                    <span style="color:#1a1a1a;
                        text-transform: capitalize; 
                        margin-right: 10px" ng-cloak>
                        Hello, {{getUsername()}}
                    </span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" 
                        data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i>  
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li style="text-align: center">
                            {{getRole()}}
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{helpUrl}}"
                            target="_blank" 
                            ng-cloak>
                            <i class="fa fa-file fa-fw"></i> 
                            Help</a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()" ng-cloak>
                                <i class="fa fa-sign-out fa-fw"></i> 
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>



        </nav>

        <div ui-view>
        </div>

        <footer class="row">
            <div class="col-sm-12">
                <image ng-cloak src="app/assets/img/logo_harvard_catalyst.png"></image>
            </div>
        </footer>     
    </div>

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>